{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="site-untree_co--main">

  <div class="untree_co--site-hero inner-page" style="background-image: url('{% static "images/kostis/IMG_0903.jpg"%}')">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center">
          <div class="site-hero-contents" data-aos="fade-up">
            <h1 class="hero-heading text-white">Amenities</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="untree_co--site-section">
    <div class="container">
      <div class="container pt-0 pb-5">
        <div class="row justify-content-center text-center pt-0 pb-5">  
          <div class="col-lg-6 section-heading" data-aos="fade-up">
            <h3 class="text-center">Hotel Amenities</h3>
          </div>
        </div>
      </div>
      <div class="row custom-row-02192 align-items-stretch">

        <!-- Free Self-Parking -->
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">
          <div class="media-29191 text-center h-100">
            <div class="media-29191-icon">
              <img src="{% static 'images/svg/parking.svg' %}" alt="Parking" class="img-fluid">
            </div>
            <h3>Free Self-Parking</h3>
            <p>Enjoy the convenience of complimentary self-parking during your stay.</p>
          </div>
        </div>

        <!-- High-Speed Internet Access -->
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="200">
          <div class="media-29191 text-center h-100">
            <div class="media-29191-icon">
              <img src="{% static 'images/svg/internet.svg' %}" alt="Internet" class="img-fluid">
            </div>
            <h3>High-Speed Internet Access</h3>
            <p>Stay connected with our reliable high-speed internet throughout the property.</p>
          </div>
        </div>

        <!-- Laundry and Valet Service -->
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="300">
          <div class="media-29191 text-center h-100">
            <div class="media-29191-icon">
              <img src="{% static 'images/svg/washing-machine.svg' %}" alt="Laundry Service" class="img-fluid">
            </div>
            <h3>Laundry and Valet Service</h3>
            <p>Take advantage of our convenient laundry and valet services during your stay.</p>
          </div>
        </div>

        <!-- Barbecue Area -->
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="400">
          <div class="media-29191 text-center h-100">
            <div class="media-29191-icon">
              <img src="{% static 'images/svg/bbq.svg' %}" alt="Barbecue" class="img-fluid">
            </div>
            <h3>Barbecue Area</h3>
            <p>Enjoy outdoor cooking with our fully equipped barbecue facilities.</p>
          </div>
        </div>

        <!-- Smart TV -->
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="500">
          <div class="media-29191 text-center h-100">
            <div class="media-29191-icon">
              <img src="{% static 'images/svg/smart_tv.svg' %}" alt="Smart TV" class="img-fluid">
            </div>
            <h3>Smart TV</h3>
            <p>Relax and enjoy your favorite shows on our high-definition smart TVs.</p>
          </div>
        </div>

        <!-- Sports Play Area -->
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="600">
          <div class="media-29191 text-center h-100">
            <div class="media-29191-icon">
              <img src="{% static 'images/svg/basketball.svg' %}" alt="Sports Play Area" class="img-fluid">
            </div>
            <h3>Sports Play Area</h3>
            <p>Engage in fun activities with our dedicated play areas for basketball, football, and volleyball.</p>
          </div>
        </div>

        <!-- Coffee & Tea Making Facilities -->
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="700">
          <div class="media-29191 text-center h-100">
            <div class="media-29191-icon">
              <img src="{% static 'images/svg/coffee.svg' %}" alt="Coffee and Tea" class="img-fluid">
            </div>
            <h3>Coffee & Tea Making Facilities</h3>
            <p>Wake up refreshed with access to in-room coffee and tea making amenities.</p>
          </div>
        </div>

        <!-- Fully Equipped Kitchen -->
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="800">
          <div class="media-29191 text-center h-100">
            <div class="media-29191-icon">
              <img src="{% static 'images/svg/kitchen.svg' %}" alt="Kitchen" class="img-fluid">
            </div>
            <h3>Fully Equipped Kitchen</h3>
            <p>Cook and dine at your convenience with our full kitchen facilities.</p>
          </div>
        </div>

        <!-- Air Conditioning & Heating -->
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="900">
          <div class="media-29191 text-center h-100">
            <div class="media-29191-icon">
              <img src="{% static 'images/svg/air.svg' %}" alt="Air Conditioning" class="img-fluid">
            </div>
            <h3>Air Conditioning & Heating</h3>
            <p>Enjoy year-round comfort with modern air conditioning and heating.</p>
          </div>
        </div>

        <!-- Pet-Friendly Accommodation -->
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="1000">
          <div class="media-29191 text-center h-100">
            <div class="media-29191-icon">
              <img src="{% static 'images/svg/pet.svg' %}" alt="Pet Friendly" class="img-fluid">
            </div>
            <h3>Pet-Friendly Accommodation</h3>
            <p>Your furry friends are welcome! Ask us about our pet policies.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="untree_co--site-section py-5 bg-body-darker cta">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="m-0 p-0">
            If you have any special requests, please feel free to call us. 
            <a href="https://wa.me/306978798911" target="_blank">+306978798911</a>
          </h3>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}
