{% extends 'base.html' %}
{% block content %}
 <div class="container text-center mt-5">
    <h2>Thank You!</h2>
    <p>Your message has been sent. We’ll get back to you soon.</p>
    <p>A confirmation email has been sent to your email address.</p>
    <p>If you don't receive a confirmation email within a few minutes, please check your spam or junk folder. If you still don't see it, there may be an issue with your email address. Please try sending your message again, or feel free to contact us directly via <a href="https://wa.me/306978798911" target="_blank">WhatsApp</a> or <a href="viber://chat?number=+306978798911" target="_blank">Viber</a>.</p>

{#    <!-- Optional: Contact Section for Special Requests -->#}
{#    <div class="untree_co--site-section py-5 bg-body-darker cta">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-12 text-center">#}
{#                    <h3 class="m-0 p-0">#}
{#                        If you have any special requests, please feel free to call us.#}
{#                        <a href="https://wa.me/306978798911" target="_blank">+306978798911</a>#}
{#                    </h3>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <a href="/" class="btn btn-primary mt-3">Back to Home</a>
  </div>
{% endblock %}